body {
    background-color: #f8f9fa;
    color: #212529;
}

.navbar {
    background-color: #343a40 !important;
}

.form-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.form-container label {
    color: #212529;
}

.form-container input,
.form-container button {
    color: #212529;
}

.table th,
.table td {
    color: #212529;
}

@media (max-width: 768px) {
    .form-container {
        background-color: #28a745;
    }

    .col-md-4,
    .col-md-8 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

#btn-whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 24px;
    color: white;
}

.text-center {
    text-align: center;
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
}

.display-4 {
    font-size: 2.5rem;
    font-weight: 300;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.rounded {
    border-radius: 0.25rem;
}

